:root{
    --color-primary: #272d4d;
    --color-secondary: #b83564;
    --color-tertiary: #ff6a5a;
    --color-quaternary: #ffb350;
    --color-quinary: #83b8aa;
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    box-sizing: border-box;
    padding: 10px;
}

label {
    color: var(--color-quinary);
}

.body {
    background-color: var(--color-primary);
}

.header {
    color: var(--color-tertiary);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.text-box {
    color: var(--color-tertiary);
}

a {
    color: var(--color-quinary);
}

h1 {
    margin: 0;
}

.content-box {
    padding: 12px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid var(--color-quinary);
}


